<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Этот сайт чисто для чила">
        <meta property="og:title" content="Первый сайт">
        <meta property="og:description" content="Этот сайт чисто для чила">
        <meta property="og:image" content="favicon.icon">
        <meta property="og:url" content="Myfirstsite.ru">
        <link rel="icon" href="/Images/favicons-39145c3850b6c70457689ce17f2f9f7c(pr-cy.ru)/favicon.ico" type="image/x-icon">
        <title><%= title %></title>
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <body>
        <div class="CB">
            <div id = "color" class="body">
                <%- body %>
            </div>
        </div>
        <script src="/JS/S-1.js"></script>
    </body>
</html>
